[submodule "/git/autoconf"]
	path = /git/autoconf
	url = http://git.sv.gnu.org/r/autoconf.git
[submodule "/git/meta"]
	path = /git/meta
	url = https://github.com/Canar/meta.git
[submodule "gloat"]
	path = gloat
	url = /home/root/cg1/cg/
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
